<!--This page is teh chatroom which allows users to communicate -->
<div class="container" style="padding:5px">	
	<h1><b>Chatroom</b></h1>
	<p></p>
	<form action="/chat/create" method="POST" role="form">
		<div class="input-group">
			<input type="hidden" name="username" value="<%= session.User.username %>">
		      <input type="text" class="form-control" placeholder="Enter message" name="message" id ="msgInput">
		      <span class="input-group-btn">
			<input type="submit" class="btn btn-default" id="sendbtn" value="Send"/>
			<!--<button id="sendbtn">send</button>-->
			<input type="hidden" name="_csrf" value="<%= _csrf%>" />
		      </span>
		</div>
	</form>
	<div align="left" style="padding:5px"><label>Live Chat feed</label></div>

	<div>
	  <ul id="msgList">
	  </ul>
	</div>
</div>
