<div class="container" style="padding:5px">	
	<h1><b>Chatroom</b></h1>
	<p></p>
	<form action="/chat/create" method="POST" role="form">
		<div class="input-group">
		      <input type="text" class="form-control" placeholder="Enter message" name="message" id ="inp">
		      <span class="input-group-btn">
			<input type="submit" class="btn btn-default" value="Send" id="sendbtn"/>
			<input type="hidden" name="_csrf" value="<%= _csrf%>" />
		      </span>
		</div>
	</form>
	<div align="left" style="padding:5px"><label>Live Chat feed</label></div>

	<div align="center">
		<textarea readonly id="messageList"></textarea>
	</div>
</div>

