<div class="container" style="padding:5px">

	<video width="100%" controls>
	  <source src="<%= showing.vsrc%>" type="video/mp4">
	  Your browser does not support the HTML5 video
	</video>
	
	<div class="input-group">
	      <input type="text" class="form-control" placeholder="Enter message">
	      <span class="input-group-btn">
		<button class="btn btn-default" type="button">Send</button>
	      </span>
	</div>

	<div align="left" style="padding:5px"><label>Live Chat feed</label></div>

	<div align="center">
		<textarea readonly></textarea>
	</div>
</div>
