<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/site.css">
    <!--STYLES END-->
  </head>

  <body>
<body>
	<!--HEADER-->
    <div class="navbar navbar-inverse nabar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/"><b>sociallyCinematic</b></a>
		<ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/showing/index">Showing</a></li>
			<li><a href="/static/about">About</a></li>
		</ul>
		
		<div align="right" >
		
		<% if(!req.session.authenticated) { %>
			<a href="/user/new" class="btn btn-success navbar-btn">Sign up</a>
			<a href="/session/new" class="btn btn-primary navbar-btn">Login</a>		
		<%} else { %>
			<% if(req.session.User.admin) { %>
				<ul class="nav navbar-nav">
					<li><a href="/showing/new">Admin</a></li>
				</ul>
			<%} %>
			<ul class="nav navbar-nav">
				<li><a href="/chat/chatroom">Chatroom</a></li>
				<li><a href="/user/show/<%= session.User.id %>"><%= session.User.username %>'s account</a></li>
			</ul>&nbsp;
			<a href="/session/destroy" class="btn btn-primary navbar-btn">Logout</a>
		<% } %>
        </div>
	</div>
    </div>

    <%- body %>
	
	
	<!--FOOTER-->
    </div class="container">
	<hr>
	<footer class="footer">
	   <div class="pull-right">
		<div>Created by Glen Holmes and Kyle O'Toole.</br>SociallyCinematic. All rights reserved.</div>
	   </div>
	</footer>
    </div>

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/jquery-2.0.3.js"></script>
    <script src="/linker/js/bootstrap.js"></script>
    <script src="/linker/js/slideshow.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
