<div class="container" style="padding:5px">	
	<h1><b>About</b></h1>
	<p>
		Socially Cinetmatic allows you to go to the cinema in the comfort of your own home.</br>
		You can chat with friends while watching a movie without getting kicked out !
	</p>
</div>
