<div class="container">
	<img src = "/images/grav_image.jpg" alt = "Gravity" width="100%" height="100%"/>
	<hr>
	<div class="jumbotron" style="width:65%">
		<h1>sociallyCinematic</h1>
		<h2>Go to the cinema from the comfort of your living room.</h2>
		<a href="/user/new" class="btn btn-lg btn-success">Sign up</a>
	</div>
	<div class="row">
  		<div class="col-sm-6 col-md-4">
    			<div class="thumbnail">
      				<img src="/images/win.jpg" width="90%">
      				<div class="caption">
        				<h3>Offers & Competitions</h3>
        				<p>Sed vitae lacus non tortor vestibulum ultricies. Mauris diam est, euismod ac enim eget, tincidunt hendrerit magna. Aenean vitae nunc accumsan, gravida velit eget, luctus quam. Aliquam interdum a nisi ultrices vestibulum. Proin accumsan velit sem, eu commodo eros rhoncus sit amet. Phasellus non lacus ligula. Donec commodo elementum velit, sit amet facilisis odio. Donec aliquam sollicitudin purus. Donec congue nibh vitae quam eleifend ultricies. Phasellus eget libero id nibh suscipit egestas condimentum eu velit. Donec dictum orci vel ipsum commodo molestie. Nam at convallis urna. Sed vestibulum laoreet blandit. Morbi luctus, est id pretium ornare, massa lorem blandit nibh, placerat fringilla turpis erat vel odio.</p>
      				</div>
    			</div>
		</div>
  		<div class="col-sm-6 col-md-4">
    			<div class="thumbnail">
      				<img src="/images/Cinema.jpg" width="90%">
      				<div class="caption">
        				<h3>Go Premier</h3>
        				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis vestibulum mauris, eget tempus eros. Nulla pharetra mi id elementum convallis. Donec mollis lectus ut posuere dapibus. Etiam dictum, ipsum quis varius aliquam, lorem quam luctus massa, at molestie ante leo et nibh. Suspendisse rutrum, tellus sit amet accumsan tempus, arcu libero consequat augue, vel auctor diam leo vehicula eros. Duis elit eros, ultricies quis iaculis eget, viverra non nisi. Vestibulum quam velit, semper nec ante sed, eleifend feugiat sem. Fusce eget laoreet mi, in semper dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam ac consectetur nisi, vel venenatis nulla. Suspendisse at sollicitudin nunc. Ut eget convallis lorem, feugiat pharetra nisi. Quisque laoreet elementum porttitor. Fusce convallis velit neque, quis tincidunt tellus elementum nec.</p>
        			</div>
    			</div>
		</div>
  		<div class="col-sm-6 col-md-4">
    			<div class="thumbnail">
      				<img src="/images/comingsoon.jpg" width="90%">
      				<div class="caption">
        				<h3>Coming Soon...</h3>
        				<p>Proin ac turpis vel est eleifend aliquam sed non velit. Ut tristique libero sed felis congue aliquam. Sed adipiscing libero felis, vel lobortis purus tincidunt eu. Vivamus dignissim nulla quis neque laoreet dictum. In venenatis lorem at libero pharetra, et sodales est malesuada. In quis ante risus. Nulla quis sollicitudin mauris, quis fermentum leo. Duis sapien est, lobortis sit amet orci ut, congue tempor felis. Nam sit amet fermentum nulla, at sodales lorem. Pellentesque id nulla eros. Vivamus aliquet mollis varius. Curabitur cursus nisi magna, sed congue enim adipiscing nec. Nam vehicula felis non lacus pulvinar, vel malesuada lectus semper. Sed aliquam imperdiet porttitor.</p>
        			</div>
    			</div>
		</div>
	</div>
</div> 