<div class="container" style="padding:5px">	
	<h1><b>Chatroom</b></h1>
	<p></p>
	<div class="input-group">
	      <input type="text" class="form-control" placeholder="Enter message">
	      <span class="input-group-btn">
		<button class="btn btn-default" type="button">Send</button>
	      </span>
	</div>

	<div align="left" style="padding:5px"><label>Live Chat feed</label></div>

	<div align="center">
		<textarea readonly></textarea>
	</div>
</div>
