<div class="container" style="padding:5px">	
	<h1><b>Contact Us</b></h1>
	<p>
		Having an issue ? Or would like to make a suggestion ?</br>
		Dont hesitate to contact us by filling in the from below !
	</p>
	<div>
	  <form action="MAILTO:c10729809@mydit.ie" method="post" enctype="text/plain">
		<textarea></textarea>
		<input type="submit" class="btn btn-lg btn-primary" value="Send">
	  </form>
	</div>
</div>
