<div class="container" style="padding:5px">
	<h1></b>Showings</b></h1>
	<img src = "/images/grav_image.jpg" alt = "Gravity" width="100%" height="100%"/>
</div>

<div class="container" style="padding:5px">
	<div class="jumbotron" >
		<div class="container">
			<div align="left" style="float: left;width: 33%;">
    		    		<img id="myimage"src = "/images/gravity_thumb.jpg" alt = "Gravity" width="220px" height="320px"/>
				<h2>Gravity</h2>
			</div>
			<div align="left" style="float: left;width: 33%;padding:10px;">
			 	<p>	
					Dr. Ryan Stone is a brilliant medical engineer on her first shuttle mission, 
					with veteran astronaut Matt Kowalsky. But on a seemingly routine spacewalk, disasterstrikes. 
				</p>
				
				<a href="/user/new" class="btn btn-lg btn-primary">Watch now</a>
				<a href="/user/new" class="btn btn-lg btn-info">Reviews</a>
			</div>
`			<div align="left" style="margin-left:1px;float: left;width: 33%;">
			  <b>Starring:</b> </br>
			      George Cloony,Sandra Bullock</br>
				 
			<b>Director: </b> 
			    Alfonso Cuarón</br>
			<b>Genre: </b>
			    Thriller</br>
			<b>Duration:</b>
			   140mins</br>
			<b>Certificate:</b> 12a</br>
			<b>Rating:</b> &#9733&#9733&#9733</br>
			<b>Shows:</b> 17:00, 19:00, 22:00</br>  
			</div>

		</div>
	</div>
</div>

<div class="container" style="padding:5px">
	<div class="jumbotron" >
		<div class="container">
			<div align="left" style="float: left;width: 33%;">
    		    		<img src = "/images/HG.jpg" alt = "Hunger games" width="220px" height="320px"/>
				<h2>Hunger Games: Catching Fire </h2>
			</div>
			<div align="left" style="float: left;width: 33%;padding:10px;">
			 	<p>	
					The film begins as Katniss Everdeen has returned home safe after winning the 74th Annual Hunger Games along with fellow tribute Peeta Mellark. Winning means that 						they must turn around and leave their family and close friends, embarking on a "Victor's Tour" of the districts. Along the way Katniss senses that a rebellion is 						simmering ...
				</p>
				
				<a href="/user/new" class="btn btn-lg btn-primary">Watch now</a>
				<a href="/user/new" class="btn btn-lg btn-info">Reviews</a>
			</div>
`			<div align="left" style="margin-left:1px;float: left;width: 33%;">
			  <b>Starring:</b> </br>
			      GKatniss Everdeen, Peeta Mellark, Finnick Odair</br>
				 
			<b>Director: </b>
			    Francis Lawrence</br>
			<b>Genre: </b>
			    Action</br>
			<b>Duration:</b>
			   120mins</br>
			<b>Certificate:</b> 12a</br>
			<b>Rating:</b> &#9733&#9733&#9733&#9733</br>
			<b>Shows:</b> 17:00, 19:00, 22:00</br>
			</div>

		</div>
	</div>
</div>

<script type='text/javascript'>
var imageID=0;
function changeimage(every_seconds){
    //change the image
    if(!imageID){
        document.getElementById("myimage").src="http://www.all-freeware.com/images/full/38943-nice_feathers_free_screensaver_desktop_screen_savers__nature.jpeg";
        imageID++;
    }
    else{if(imageID==1){
        document.getElementById("myimage").src="http://www.hickerphoto.com/data/media/186/flower-bouquet-nice_12128.jpg";
        imageID++;
    }else{if(imageID==2){
        document.getElementById("myimage").src="http://www.photos.a-vsp.com/fotodb/14_green_cones.jpg";
        imageID=0;
    }}}
    //call same function again for x of seconds
    setTimeout("changeimage("+every_seconds+")",((every_seconds)*1000));
}
</script>

